@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.container-bank {
    height: auto;
    padding-top: 5.513rem;

}

.z {
    background-color: rgb(255, 255, 255);
    height: 36rem;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.card {

    width: 300px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    font-family: "Jost", sans-serif; /* Appliquer la typographie */
font-weight: 330;
    border-radius: 0.5rem;


}

.card img {
    width: 100%;
    padding: 4%;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    margin-top: 0;
}

.card-content button {
    background-color: #262626;
    color: #fff;
    border: none;
    padding: 8px 16px;
height: 47.38px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Jost", sans-serif; /* Appliquer la typographie */
font-weight: 350;
font-size: 15px;
border-radius: 0.5rem;
width: 100%;

}

/* .card-content button:hover {
    background-color: #666666;
} */
