{% extends 'base.html.twig' %}

{% block title %}Hello BankController!{% endblock %}

{% block body %}
<div class="container-bank">
    <div class="z">
        <div class="card">
            <img src="https://picsum.photos/200" alt="Image">
            <div class="card-content">
                <h3>Titre de l'image</h3>
                <p>Description de l'image</p>
                <button>Télécharger</button>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
