{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
<div class="container-error404">
    <div class="message404">
        <img src="{{ asset('img/monsieur404.png') }}" alt="Logo">
    </div>
</div>
{% endblock %}
